*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #2e2e3e;
    color: white;
}
.top{
    margin-top: 2dvi;
    margin-left: 10%;
    font-size: 1.5dvi;
}
.face{
    color: yellow;
}
.top-left{
    margin-left: 29%;
    margin-top: -2dvi;
} 
.sh{
    display: inline-block;
    text-decoration: none;   
}
.light{
    opacity: 0.5;
}
.sh a{
    color: white;
    text-decoration: none;
}
.line{
    margin-left: 2.9%;
    margin-top: 0.5dvi;
    font-size: 0.8dvi;
}
.top-right{
    margin-left: 80%;
    margin-top: -1dvi;
    font-size: 0.8dvi;
}
.mark{
    margin-left: 10%;
}
.circle{
    background-color:rgba(0, 0, 0, 0.519);
    height: 35dvi;
    width: 35dvi;
    border-radius: 50%;
    margin-left: 32%;
    margin-top: 2dvi;
}
.name{
    margin-top: -25dvi;
    margin-left: 10dvi;
    font-size: 4.4dvi;
    font-family: sans-serif;  
    line-height: 0dvi;  
    opacity: .5;
}
.shawaiz {
    margin-left: 9.5dvi;
    font-size: 5dvi;
    font-family: sans-serif;
    line-height: 11dvi;
}
.yellow {
    margin-left: 10%;
    margin-right: 80%;
    margin-top: -1.9dvi;
    background-color: yellow;
    padding-top: 0.08dvi;
}
.pali-line{
    margin-left: 10%;
    line-height: 1.5dvi;
    margin-top: 1.5dvi;
    font-size: 0.8dvi;
}
.four-h {
    margin-left: 62%;
    margin-top: -20dvi;
    font-size: 1.2dvi;
}
.dusri-line{
    margin-left: 62%;
    margin-top: 1dvi;
    font-size: 1.5dvi;
}
.show{
    color: yellow;
    font-size: 0.9dvi;
    margin-top: 1dvi;
    text-decoration: none;  
}
.show:hover{
    color: rgb(251, 251, 251);
}

.aerrow{
    margin-left: 0.5dvi;
}
.aerrow1{
    color: yellow;
    margin-left: 12dvi;
    font-size: 1.2dvi;
}
.aerrow2{
    color: yellow;
    margin-left: 8dvi;
    font-size: 1.2dvi;
}
.aerrow3{
    color: yellow;
    margin-left: 7dvi;
    font-size: 1.2dvi;
}
.aerrow4{
    margin-top: 3dvi;
    color: yellow;
    margin-left: 1.6dvi;
    font-size: 0.8dvi;
    text-decoration: none;
}

.fba {
    margin-left: 61.85%;
    margin-top: 1dvi;
    font-size: 1dvi;
}
.fb1{
    margin-left: 0.8dvi;
    margin-top: 0.5dvi;
    font-size: 1.3dvi;
    color: yellow;
}
.fbb{
    margin-left: 65dvi;
    margin-top: -2.5dvi;
}
.fb2 {
    color: yellow;
    font-size: 1.3dvi;
    margin-top: 0.6dvi;
    margin-left: 0.6dvi;
}
.fbc{
    margin-left: 68.5dvi;
    margin-top: -2.5dvi;
}
.fb3{
    margin-left: 0.6dvi;
    color: yellow;
    margin-top: 0.5dvi;
}
.fbd{
    margin-left: 72dvi;
    margin-top: -2.5dvi;
}
.fb4{
    color: yellow;
    margin-left: 0.7dvi;
    margin-top: 0.6dvi;
}
.aby{
    font-size: 1.5dvi;
    border-radius: 4dvi;
    width: 2.5dvi;
    height: 2.5dvi;
    background-color:#39394b;

}
.square{
    background-color:#39394b;
    height: 9dvi;
    width: 77dvi;
    margin-left: 10dvi;
    margin-top: 9dvi;
    box-shadow: 5px 10px 15px 10px #00000040; 
    position: relative; 
}
.black{
    background-color: black;
    margin-top: 19dvi;
}
.meta {
    height: 6dvi;
    background: #28282c;
    width: 15dvi;
    margin-top: -7.5dvi;
    border-radius: 1dvw;
    margin-left: 13%;
    position: absolute;
}
.google {
    background: #28282c;
    width: 15dvi;
    margin-top: -7.5dvi;
    border-radius: 1dvw;
    margin-left: 32.3%;
    position: absolute;
}
.linkedin {
    height: 6dvi;
    background: #28282c;
    width: 15dvi;
    margin-top: -7.5dvi;
    border-radius: 1dvw;
    margin-left: 51%;
    position: absolute;
}
.slack {
    height: 6dvi;
    background: #28282c;
    width: 15%;
    margin-top: -7.5dvi;
    border-radius: 1dvw;
    margin-left: 69.5%;
    position: absolute;
}
.down{
    background-color: rgba(0, 0, 0, 0.599);
    margin-top: -4.5dvi;  
}
.what {
    font-size: 3dvi;
    padding-top: 12dvi;
    padding-left: 10%;
    font-family: system-ui;
}
.small{
    padding-left: 10%;
    padding-top: 2dvi;
    width: 392px;
    font-size: 1.1dvi;
    line-height: 1.81dvi;
}
.one{
    color: yellow;
    font-size: 1.5dvi;
    font-family: sans-serif;
    padding-top: 5dvi;
}
.one-one{
    font-size: 1.09dvi;
  }
.hi{
    color: yellow;
    font-size: 1.5dvi;
    font-family: sans-serif;
    margin-top: -0.5dvi;
}
.two {
    color: yellow;
    font-size: 1.5dvi;
    margin-left: 9dvi;
    margin-top: -8.5dvi;
    font-family: sans-serif;
}
.tow-tow{
    margin-left: 9dvi;
    font-size: 1.09dvi;
}
.hl {
    color: yellow;
    font-size: 1.5dvi;
    margin-left: 9dvi;
    margin-top: 1.3dvi;
    font-family: sans-serif;
}
.img {
    height: 7dvi;
    background: #28282c;
    width: 24.5%;
    margin-top: 2dvi;
}
.img1 {
    height: 7dvi;
    background: #28282c;
    width: 24.5%;
    margin-top: 2dvi;
}
.img2 {
    height: 6.5dvi;
    background: #28282c;
    width: 24.5%;
    margin-top: 2dvi;
}
.my {
    margin-top: -31dvw;
    margin-left: 47dvi;
}

.ui1{
    margin-top: 0.5dvi;
    font-size: 1dvi;
    margin-left: 27%;
    opacity: 0.5
}
.ui{
    font-family: sans-serif;
    margin-left: 27%;
    margin-top: -6dvi;
    font-size: 1.8dvi;
}
.font1{
    margin-top: 0.5dvi;
    font-size: 1dvi;
    margin-left: 27%;
    opacity: 0.5
}
.font{
    font-family: sans-serif;
    margin-left: 27%;
    margin-top: -6dvi;
    font-size: 1.8dvi;
}
.mobile1{
    margin-top: 0.5dvi;
    font-size: 1dvi;
    margin-left: 27%;
    opacity: 0.5
}
.mobile{
    font-family: sans-serif;
    margin-left: 27%;
    margin-top: -6dvi;
    font-size: 1.8dvi;
}
.box1 {
    background-color:#39394b;
    height: 20dvi;
    width: 25dvi;
    margin-left: 10%;
    margin-top: 6%;
    box-shadow: 5px 10px 15px 10px #00000040;
    position: relative;
}
.box2{
    background-color:#39394b;
    height: 20dvi;
    width: 25dvi;
    margin-left: 37%;
    margin-top: -20%;
    box-shadow: 5px 10px 15px 10px #00000040;
    position: relative;
}
.box3{
    background-color: #39394b;
    height: 20dvi;
    width: 25dvi;
    margin-left: 64%;
    margin-top: -20%;
    box-shadow: 5px 10px 15px 10px #00000040;
    position: relative; 
}
.x, .pc, .ph {
    padding-left: 7%;
    padding-top: 6%;
    font-size: 2.5dvi;
    color: yellow;
}
.head1, .head2, .head3 {
    font-family: sans-serif;
    font-size: 1.8dvi;
    padding-left: 7%;
    padding-top: 7%;
}
.pera1, .pera2, .pera3 {
    padding-left: 7%;
    padding-top: 6%;
    font-size: 1dvi;
    width: 68%;
    font-family: sans-serif;
    line-height: 1.8dvi;
}
    
.pic{
    margin-bottom: -38dvi;
    width: 32dvi;
    margin-left: 33dvi;
    }  
.my{
    text-decoration: none;
}
.control{
    width: 39dvi;
    opacity: 0.5;
    margin-top: 4dvi;
}
.control1{
    width: 39dvi;
    opacity: 0.5;
    margin-top: 4dvi;
}
br{
    margin: 10%;
}
.full{
    background-color: #2e2e3e;
    margin-top: -6dvi;
}
.h3{
    font-size: 3dvi;
    padding-top: 13dvi;
    padding-left: 10%;
    font-family: system-ui;
}
.p3{
    padding-left: 10%;
    padding-top: 2dvi;
    width: 392px;
    font-size: 1.1dvi;
    line-height: 1.81dvi;
}
.boxs{
    background-color: rgba(0, 0, 0, 0.599);
    margin-left: 10%;
    margin-top: 3dvi;
    width: 38.5dvi;
    height: 24dvi;
    position: relative;
}
.app{
    font-size: 0.9dvi;
    padding-left: 5%;
    color: yellow;
    padding-top: 6%;
    font-family: sans-serif;
}
.travel{
    font-size: 1.5dvi;
    padding-left: 4.5%;
    font-family: sans-serif;
    padding-top: 1dvi;
}
.book {
    color: yellow;
    padding-left: 83%;
    margin-top: -3dvi;
    font-size: 0.9dvi;
}
.ab{
    color: yellow;
}
.boxs-a{
    margin-top: -24dvi;
    background-color:  rgba(0, 0, 0, 0.599);
    margin-left: 51%;
    width: 38.5dvi;
    height: 24dvi;
    position: relative;
}
.screen4{
    width: 37dvi;
    padding-left: 1.46dvi;
    height: 16.7dvi;
    padding-top: 3dvi;
}
.btn{
    width: 10dvi;
    font-weight: bold;
    border: 2px solid yellow;
    background: transparent;
    height: 4dvi;
    margin-left: 45dvi;
    margin-top: 3dvi;
    border-radius: 30dvi;  
}
.ad{
    color: yellow;
    font-size: 0.9dvi;
    text-decoration: none;
}

.full2{
    background-color: rgba(0, 0, 0, 0.599);
    margin-top: 6dvi;
}
.screen{
    height: 40dvi;
    width: 38dvi;
    padding-left: 6dvi;
    margin-top: 6dvi;
}
.dow{
    font-size: 5dvi; 
    margin-left: 47dvi; 
    margin-top: 7dvi; 
    color: yellow;
    position: absolute;
}
.is{
    font-size: 1.5dvi;
    padding-left: 47%;
    line-height: 3dvi;
    padding-top: 13dvi;
    font-family: sans-serif;
    position: absolute;
}
.is1{
    font-size: 1.5dvi;
    padding-left: 47%;
    padding-top: 28dvi;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
}
.is2{
    font-size: 1.2dvi;
    padding-left: 47%;
    padding-top: 31dvi;
    font-family: sans-serif;
    position: absolute;
}
.is3{
    font-size: 5dvi; 
    margin-left: 47dvi; 
    margin-top: 38dvi; 
    color: yellow;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
}
.is4{
    font-size: 2.5dvi;
    margin-left: 53dvi;
    margin-top: 40dvi;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
}
.wun{
    margin-top: -4dvi;
    margin-left: 77dvi;
}
.wa{
    height: 5dvi;
    font-size: 3dvi;
    background: transparent;
    width: 5dvi;
    border-radius: 50dvi;
    border: 2px solid yellow;
}
.w{
    color: yellow;
    text-decoration: none;
}
.wu{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.833);
}

.wani{
    background-color: yellow;
}
.how{
    margin-top: 7dvi;
    margin-left: 5.5%;
    margin-right: 10%;
    opacity: .5;
}
.last{
    margin-left: 5dvi;
    margin-top: 10dvi;
    font-size: 4dvi;
    font-family: sans-serif;
}
.last1{
    margin-left: 5dvi;
    margin-top: 2dvi;
    line-height: 2.5dvi;
    font-size: 1.7dvi;
}
.btna{
    width: 12dvi;
    font-weight: bold;
    border: 2px solid yellow;
    background: transparent;
    height: 5dvi;
    margin-left: 5dvi;
    margin-top: 3dvi;
    border-radius: 30dvi;
} 
.btna1{
    width: 12dvi;
    font-weight: bold;
    border: 2px solid yellow;
    background: transparent;
    height: 5dvi;
    margin-left: 1dvi;
    margin-top: 3dvi;
    border-radius: 30dvi;
    background-color: yellow;
}  
.ada{
    color: yellow;
    font-size: 1.5dvi;
    text-decoration: none;
}
.ada1{
    font-size: 1.5dvi;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.833);
}            
.circle2{
    background-color: #2e2e3e;
    height: 35dvi;
    width: 35dvi;
    border-radius: 50%;
    margin-left: 50%;
    margin-top: -32dvi;
}
.img5{
    width: 40.5dvi;
    margin-left: 2dvi;
    margin-top: -6dvi;
}
.hf3{
    font-size: 2dvi;
}
.hf{
    margin-top: 5dvi;
    margin-left: 5dvi;
}

.hf1{
    margin-top: -17dvi; 
    margin-left: 29dvi;
}
.hf2{
    margin-top: -14dvi;
    margin-left: 52dvi;
}
.hf4{
    margin-top: -14dvi; 
    margin-left: 76dvi;
}
.ah{
    margin-left: 5dvi;
    font-size: 0.9dvi;
    line-height: 1.5dvi;
    margin-top: 1.5dvi;
}
.ah1{
    margin-left: 29dvi;
    font-size: 0.9dvi;
    line-height: 1.5dvi;
    margin-top: 1.5dvi;
}
.ah2{
    margin-left: 52dvi;
    font-size: 0.9dvi;
    line-height: 1.5dvi;
    margin-top: 1.5dvi;
}
.ah3{
    margin-left: 76dvi;
    font-size: 0.9dvi;
    line-height: 1.5dvi;
    margin-top: 1.5dvi;
}
.z{
    margin-left: 75.8dvi;
}
.b{
    margin-left: 79dvi;
}
.c{
    margin-left: 82.2dvi;
}
.d{
    margin-left: 85.3dvi;
}
.m{
    margin-top: -1.2dvi;
    margin-left: 35dvi;
    font-size: 1dvi;
    color: yellow;
}
.ri{
    margin-left: 50dvi;
    font-size: 0.85dvi;
    margin-top: -1dvi;
}



       /* <--- FOR MOBILE SEREEN ---> */

      

@media screen and (max-width:700px) {
    .top {
        background-color: black;
        margin-top: -4.5dvi;
        margin-left: 0dvi;
        font-size: 6.5dvi;
        padding-top: 4dvi;
        padding-left: 3dvi;
        padding-bottom: 4dvi;
    }
    .top-left{
        height: 0px;
        width: 0px;
        opacity: 0; 
    }
    .pic {
        margin-bottom: -238dvi;
        width: 75dvi;
        margin-left: 9dvi;
    }
    .s{
        height: 0px;
        width: 0px;
        opacity: 0; 
    }
    .em{
        position: absolute;
        font-size: 7dvi;
        margin-top: -8dvi;
        margin-left: 5dvi;
    }
    .name{
        margin-top: -199dvi;
        margin-left: 3dvi;
        font-size: 11.4dvi;
        font-family: sans-serif;
        line-height: 0dvi;
        opacity: .5;
    }
    .shawaiz {
        margin-left: 2.5dvi;
        font-size: 13dvi;
        font-family: sans-serif;
        line-height: 33dvi;
    }
    .yellow {
        margin-left: 4%;
        margin-right: 74%;
        margin-top: -4.9dvi;
        background-color: yellow;
        padding-top: 0.3dvi;
    }
    .pali-line {
        margin-left: 4%;
        line-height: 6.5dvi;
        margin-top: 4.5dvi;
        font-size: 3.8dvi;
    }
    .four-h {
        margin-left: 5%;
        margin-top: 6dvi;
        font-size: 4.2dvi;
    }
    .dusri-line{
        margin-left: 5%;
        margin-top: 2dvi;
        font-size: 5.5dvi;
    }
    .show{
        font-size: 0.9dvi;
        margin-top: 1dvi;
        
    }
    .show {
        font-size: 2.9dvi;
        margin-top: 3dvi;
    }
    .fba {
        margin-left: 4.4%;
        margin-top: 3dvi;
    }
    .fb1, .fb4 {
        margin-left: 2.3dvi;
        margin-top: 1.5dvi;
        font-size: 4.3dvi;
    }
    .fb2, .fb3{
        margin-left: 2dvi;
        margin-top: 1.5dvi;
        font-size: 4.3dvi;
    }
    .fbb {
        margin-left: 14dvi;
        margin-top: -7.5dvi;
    }
    .fbc {
        margin-left: 23.5dvi;
        margin-top: -7.5dvi;
    }
    .fbd {
        margin-left: 33dvi;
        margin-top: -7.5dvi;
    }
    .aby {
        width: 7.5dvi;
        height: 7.5dvi;
    }
    .circle {
        height: 76dvi;
        width: 76dvi;
        margin-left: 9%;
        margin-top: 146dvi;
    }
    .square {
        height: 40dvi;
        width: 89dvi;
        margin-left: 5dvi;
        margin-top: 85dvi;
    }
    .meta {
        height: 13dvi;
        width: 36dvi;
        margin-top: -35dvi;
        margin-left: 10.5%;
    }
    .google { 
        width: 36dvi; 
        margin-top: -35dvi; 
        margin-left: 52.3%;
        height: 13dvi; 
    }
    .linkedin {
        height: 13dvi;
        width: 36dvi;
        margin-top: -17dvi;
        margin-left: 10.5%;
    }
    .slack { 
        width: 36dvi; 
        margin-top: -17dvi; 
        margin-left: 52.3%;
        height: 13dvi; 
    }
    .what {
        font-size: 6dvi;
        padding-top: 17dvi;
        padding-left: 5%;
    }
    .small {
        padding-left: 6%;
        padding-top: 3dvi;
        width: 392px;
        font-size: 4.7dvi;
        line-height: 6.5dvi;
    }
    .one {
        font-size: 6.5dvi;
        padding-top: 4dvi;
    }
    .one-one {
        font-size: 3.09dvi;
    }
    .two {
        font-size: 6.5dvi;
        margin-left: 31dvi;
        margin-top: -32.5dvi;
    }
    .tow-tow {
        margin-left: 32dvi;
        font-size: 3.09dvi;
    }
    .hi{
        font-size: 6.5dvi;
    }
    .hl {
        font-size: 6.5dvi;
        margin-left: 31dvi;
        margin-top: 5.3dvi;
    }
    .my {
        margin-top: 4dvw;
        margin-left: 6dvi;
    }
    .img, .img1, .img2 {
        height: 15dvi;
    }
    .ui, .font, .mobile {
        margin-top: -12dvi;
        font-size: 4.8dvi;
    }
    .ui1, .font1, .mobile1{
        font-size: 2.5dvi;
    }
    .control, .control1{
        margin-top: 7dvi;
        width: 88dvi;
    }
    .img1, .img2{
        margin-top: 5dvi;
    }
    .aerrow1 {
        margin-left: 28dvi;
        font-size: 4.2dvi;
    }
    .aerrow2 {
        margin-left: 16dvi;
        font-size: 4.2dvi;
    }
    .aerrow3 {
        margin-left: 14dvi;
        font-size: 4.2dvi;
    }
    .box1, .box2, .box3 {
        height: 60dvi;
        width: 79dvi;
        margin-left: 10%;
        margin-top: 11%;
    }
    .x, .pc, .ph {
        font-size: 6.5dvi;
    }
    .head1, .head2, .head3 {
        font-size: 5.8dvi;
    }
    .pera1, .pera2, .pera3 {
        font-size: 3.5dvi;
        line-height: 4.8dvi;
    }
    .aerrow4 {
        padding-top: 9dvi;
        margin-left: 2.6dvi;
        font-size: 2.8dvi;
    }
    .h3 {
        font-size: 6dvi;
        padding-top: 13dvi;
        padding-left: 5%;
    }
    .p3 {
        padding-left: 5%;
        padding-top: 2dvi;
        font-size: 3.1dvi;
        line-height: 6.81dvi;
    }
    .boxs {
        margin-left: 10%;
        margin-top: 3dvi;
        width: 79.5dvi;
        height: 50dvi;
    }
    .boxs-a {
        margin-top: 4dvi;
        margin-left: 10%;
        width: 78.5dvi;
        height: 50dvi;
    }
    .app {
        font-size: 2dvi;
    }
    .travel {
        font-size: 4.5dvi;
    }
    .book {
        padding-left: 72%;
        margin-top: -7dvi;
        font-size: 2.9dvi;
    }
    .screen4 {
        width: 75dvi;
        padding-left: 4.46dvi;
        height: 34.2dvi;
        padding-top: 6dvi;
    }
    .btn {
        width: 29dvi;
        height: 10dvi;
        margin-left: 36dvi;
        margin-top: 7dvi;
    }
    .ad {
        font-size: 2.5dvi;
    }
    .screen {
        height: 52dvi;
        width: 68dvi;
        margin-left: 10%;
    }
    .dow {
        font-size: 8dvi;
        margin-left: 6dvi;
        margin-top: 59dvi;
    }
    .is {
        font-size: 4dvi;
        padding-left: 5%;
        line-height: 6dvi;
        padding-top: 67dvi;
    }
    .is1 {
        font-size: 4.5dvi;
        padding-left: 5%;
        padding-top: 96dvi;
    }
    .is2 {
        font-size: 3dvi;
        padding-left: 5%;
        padding-top: 103dvi;
    }
    .is3 {
        font-size: 10dvi;
        margin-left: 5dvi;
        margin-top: 112dvi;
    }
    .is4 {
        font-size: 4.5dvi;
        margin-left: 17dvi;
        margin-top: 117dvi;
    }
    .wa {
        height: 10dvi;
        font-size: 6dvi;
        width: 10dvi;
    }
    .wun {
        margin-top: 53dvi;
        margin-left: 33dvi;
    }
    .last {
        font-size: 7dvi;
    }
    .last1{
        line-height: 6.5dvi;
        font-size: 3.5dvi;
    }
    .btna, .btna1{
        width: 30dvi;
        height: 10dvi;
    }
    .ada, .ada1{
        font-size: 3.5dvi;
    }
    .circle2 {
        height: 75dvi;
        width: 75dvi;
        margin-left: 13%;
        margin-top: 7dvi;
    }
    .img5 {
        width: 79.5dvi;
        margin-left: 4dvi;
        margin-top: -6dvi;
    }
    .hf3 {
        font-size: 7dvi;
    }
    .hf1 {
        margin-top: -50dvi;
        margin-left: 51dvi;
    }
    .ah {
        font-size: 3.9dvi;
        line-height: 6.5dvi;
    }
    .ah1 {
        margin-left: 52dvi;
        font-size: 3.9dvi;
        line-height: 6.5dvi;
    }
    .hf2 {
        margin-top: 16dvi;
        margin-left: 4dvi;
    }
    .ah2 {
        margin-left: 5dvi;
        font-size: 4.9dvi;
        line-height: 6.5dvi;
        margin-top: 1.5dvi;
    }
    .hf4 {
        margin-top: -40dvi;
        margin-left: 51dvi;
    }
    .ah3 {
        margin-left: 53dvi;
        font-size: 3.8dvi;
        line-height: 6.5dvi;
        margin-top: 1.5dvi;
    }
    .z {
        margin-left: 51.4%;
    }
    .b {
        margin-left: 60dvi;
    }
    .c {
        margin-left: 68.5dvi;
    }
    .d {
        margin-left: 77dvi;
    }
    .top1 {
        margin-top: 1dvi;
        background-color: #2e2e3e;
        font-size: 4dvi;
    }
    .m {
        margin-top: -7.2dvi;
        margin-left: 33dvi;
        font-size: 2.4dvi;
    }
    .ri {
        margin-left: 68dvi;
        font-size: 2.1dvi;
        margin-top: -2.5dvi;
    }

}
